<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles_accueil.css') }}">
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue a la page de lecture du Quran et hadiths</h1>
    <p>Que voulez vous lire : </p>
    <div class="container">
        <div class="lsite">
            <ul>
                <div class="container_livres">
                    <li class="livre"><a href="hadiths">Hadiths (Bukhary)</a></li>
                </div>
                <div class="container_livres">
                    <li class="livre"><a href="quran_accueuil">Quran</a></li>
                </div>
            </ul>
        </div>
</body>
</html>