<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Liste des hadiths du livre {{ livre }}</h1>

    <div class="container">
        <div class="lsite">
            <ul> 
                {% for i in range(0, len) %}
                <div class="container_chapitres">
                    <li class="chapitre">{{ chapitres[i] }}</li> 
                </div>
                {% endfor %}
            </ul> 
        </div>
    </div>

</body>
</html>