<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles_index.css') }}">
        <title>{{ titre }}</title>
    </head>
    <body>
        <div class="container">
            <h1 class="chapter-name"> {{ nom_sourate }} <span>({{ titre }})</span></h1>
            <div class="options">
                <div>Changer la taille du texte : 
                    <select onchange="changeFontSize(this)">
                        <option value="25px">Petit</option>
                        <option value="35px" selected>Moyen</option>
                        <option value="45px">Grand</option>
                        <option value="55px">Très grand</option>
                    </select>
                </div>
            </div>
            {% for i in range(0, len) %} 
                <div class="quran" id="quran-text"> {{ sourate_texte[i] }}</div>
            {% endfor %}
        </div>
        <script>
            function changeFontSize(element) {
                const quranText = document.getElementById('quran-text');
                quranText.style.fontSize = element.value;
            }
        </script>
    </body>
</html>
