<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="script" href="{{ url_for('static', filename = 'script_login.js') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'styles_quran.css') }}">
  <title>{{ titre }}</title>
</head>

<body>
  <div class="dropdown">
    <button class="dropbtn">Quran</button>
    <div class="dropdown-content">
        {% for sourate in sourates %}
        <a href="#">{{ sourate }}</a>
        {% endfor %}
    </div>
  </div>

  <div>
    <h1>Quran.momo</h1>
  </div>

  <div class="container">
    <h1>Ce que vous voulez lire :</h1>
    <form action="http://localhost:5000/login" method="POST">
      <input type="text" name="sourate" placeholder="ex : 'Al-Faatiha' ">
      <input type="submit" value="Envoyer">
    </form>
  </div>

 <div class="center">
  <div class="lsite">
    <ul> 
      {% for i in range(0, len) %} 
        <li class="sourate-item">{{ sourates[i] }}</li> 
      {% endfor %} 
    </ul> 
  </div>
</div>
</body>
</html>
