<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'styles_index.css') }}">
        <title>{{ nom_sourate }} // {{ nom_sourate_arabe }}</title>
    </head>
    <body>
        <div class="container">
            <div class="title">
                <h1 class="chapter-name"> {{ nom_sourate }} <span>({{ nom_sourate_arabe }})</span></h1>
                <div class="options">
                    <div>Changer la taille du texte : 
                        <select onchange="changeFontSize(this)">
                            <option value="25px">Petit</option>
                            <option value="35px" selected>Moyen</option>
                            <option value="45px">Grand</option>
                            <option value="55px">Très grand</option>
                        </select>
                    </div>
                    <div class="options">
                        <button onclick="toggleTranslation()">Traduction en français</button>
                    </div>
                    <div class="options">
                        <a href="{{ url_for('index') }}">Retour à l'accueil</a>
                    </div>
                </div>  
            </div>
            <audio controls preload="none">
                <source src="{{ audio }}" type="audio/mp3">
              Your browser does not support the audio element.
            </audio>
            <div class="quran">
                <!--Mettre la bamallah avant chaque sourate-->
                <div class="ayat">
                    <div class="ayat-number">0</div>
                    <div name="quran-text">بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ</div>
                </div>

                {% for i in range(0, len) %} 
                    <div class="ayat">
                        <div class="ayat-number">{{i + 1}}</div>
                        <div name="quran-text">{{sourate_texte[i]}}</div>
                    </div>
                    <div class="clear"></div>
                    <div class="translation">{{sourate_translation[i]}}</div> 
                {% endfor %}
            </div>
        </div>
        <script>
            function changeFontSize(element) {
                const quranText = document.querySelectorAll('[name=quran-text]');
                quranText.forEach(text => {
                  text.style.fontSize = element.value;
                });
              } 
            function toggleTranslation() {
                const translations = document.querySelectorAll('.translation');
                translations.forEach(t => {
                  t.style.display = (t.style.display === 'none') ? 'flex' : 'none';
                });
              }
        </script>
    </body>
</html>
