body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 0.8rem;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
@font-face { 
    font-family: 'Al-Qalam'; 
    src: url('AlQalamQuran.ttf');
}

.quran {
    text-align: right;
    font-family: 'Al-Qalam', sans-serif;
    line-height: 2;
    margin-top: 20px;
    direction: rtl;
}

.ayat {
    display: flex;
    justify-content: space-between;
    border: 2px solid #0066cc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background-color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
    direction: ltr;
    position: relative;
}

.translation {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    border: 2px solid #0066cc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }

.ayat .ayat-number {
    top: -25px;
    right: 10px;
    background-color: #0066cc;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quran span {
    display: inline-block;
    padding: 5px;
}

.chapter-name {
    text-align: left;
    margin: 0;
    padding: 10px 0;
    font-size: 3rem;
    font-weight: bold;
}

.quran .chapter-name span {
    font-size: 1rem;
    font-weight: normal;
}

.quran .options select {
    padding: 5px;
}
.title {
    display: flex;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    border: #000 2px solid;
    justify-content: space-between;
    border: 2px solid #0066cc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    width: auto;
}