* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 2rem;
    color: #0066cc;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0066cc;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
}

.lsite ul {
    list-style-type: none;
    padding: 0;
}

.container_livres {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.livre {
    background-color: #0066cc;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.livre a {
    color: #fff;
    text-decoration: none;
}

.livre:hover {
    background-color: #0052a3;
}